html, body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:62.5%;
}

body{
    background-color:lightblue;
    margin:0;
    padding:0;
    
}

div{
    background-color:#ffffff;
    width:15rem;
    height: 15rem;
    margin:2rem auto;
    border: .5rem solid;
}

ul{
    list-style: none;
    font-size: 3rem;
    display: block;
    margin:0 auto;
    padding:0;
    height: 100%;
    width:100%;
    position:relative;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
}

/*dice one*/

#dice_one ul li:nth-of-type(1){
    height: 20%;
    width:100%;
    transform: translateY(6rem);
}

/*dice two*/

#dice_two ul li:nth-of-type(1){
    height: 90%;
    width:50%;
    float: left;
    transform: translateY(10%);
}
#dice_two ul li:nth-of-type(2){
    height: 20%;
    width:50%;
    float:right;
    transform: translateY(10rem);
}

/*dice three*/

#dice_three ul li:nth-of-type(1){
    height: calc(100%/3);
    width:calc(100%/3);
    float: left;
    transform: translateY(1rem);
}
#dice_three ul li:nth-of-type(2){
    height: calc(100%/3);
    width:calc(100%/3);
    float: left;
    transform: translateY(6rem);
}
#dice_three ul li:nth-of-type(3){
    height: calc(100%/3);
    width:calc(100%/3);
    float: left;
    transform: translateY(11rem);
}

/*dice four*/

#dice_four ul li:nth-of-type(1){
    height: calc(100%/4);
    width:calc(100%/2);
    float: left;
    transform: translateY(1rem);
}
#dice_four ul li:nth-of-type(2){
    height: calc(100%/4);
    width:calc(100%/2);
    float:left;
    transform: translateY(1rem);
}
#dice_four ul li:nth-of-type(3){
    height: calc(100%/4);
    width:calc(100%/2);
    float: left;
    transform: translateY(7rem);
}
#dice_four ul li:nth-of-type(4){
    height: calc(100%/4);
    width:calc(100%/2);
    float:right;
    transform: translateY(7rem);
}

